<div *ngFor="let p of players;let pIdx=index">
<table >
	<tr >
		<th>Player Name</th>
		<th>Pile</th>
		<th colspan=5>Hand</th>
		<th colspan=4>Stack</th>
	</tr>
	<tr >
		<td >
			<span [ngClass]="{'active':activePlayer==pIdx,'inactive':activePlayer!=pIdx}">
			<span *ngIf="p.isPrimary">*</span>{{p.name}}</span>
		</td>
		<td *ngFor="let c of p.cards;let pos=index" [ngClass]="{'from':fromPosition==pos && activePlayer==pIdx}" >
		    <span *ngIf="p.isPrimary">
				<span *ngIf="p.viewCard(pos)>Cards.NO_CARD">
					<span (click)="!!toggleMoveFrom(pIdx,pos)">{{toFaceNumber(p.viewCard(pos))}}</span>
				</span>
				<span *ngIf="p.viewCard(pos)==Cards.NO_CARD">&nbsp;</span>
			</span>
		    <span *ngIf="!p.isPrimary && (pos>=PlayerPositions.HAND_1 && pos<PlayerPositions.HAND_5)">
				<span >X</span>
		    </span>
		    <span *ngIf="!p.isPrimary && (pos<PlayerPositions.HAND_1 || pos>PlayerPositions.HAND_5)">
		    	<span>{{toFaceNumber(p.viewCard(pos))}}</span>
		   	</span>
		</td>
</table>
<p>
<p>
</div>
<table>
	<tr>
		<td *ngFor="let s of centreStacks; let sIdx=index" [ngClass]="{'to':toPosition==sIdx && fromPosition>=0}">
			<span (mouseover)="toggleCentreTarget(sIdx)" (mouseout)="toggleCentreTarget(-1)" (click)="moveToCentreStack(sIdx)">
				<span *ngIf="viewTopOfStack(sIdx)!=Cards.NO_CARD">{{toFaceNumber(viewTopOfStack(sIdx))}}</span>
				<span *ngIf="viewTopOfStack(sIdx)==Cards.NO_CARD">&nbsp;</span>
			</span>		
		</td>
	</tr>
</table>

