  .cardList {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
 }
 /* Column Gap */
 .cardList > * {
   box-sizing: border-box;
 }
 .cardList > *:not(:last-child) {
   margin-right: 32px;
 }
 /* Item sizing */
 .cardListItem {
   flex: 0 1 calc(33.3% - 32px);
 }
 table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
.active{
	color:red;
	font-weight: bold;
}
.inactive{
	color:black;
	font-weight: normal;
}