input.card{
	width:20px;
}
.cardList {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
 }
 /* Column Gap */
 .cardList > * {
   box-sizing: border-box;
 }
 .cardList > *:not(:last-child) {
   margin-right: 32px;
 }
 /* Item sizing */
 .cardListItem {
   flex: 0 1 calc(33.3% - 32px);
 }
 table {
  border-collapse: collapse;
}

table, th {
  border: 1px solid black;
}
td.from {
  background-color: aqua;
}
td.to {
  background-color: yellow;
}
td.left {
  padding-left: 8px;
}
.active{
	color:red;
	font-weight: bold;
}
.inactive{
	color:black;
	font-weight: normal;
}
.player-hand{
	display: inline-block;
	vertical-align:top;
}
.space{
	display: inline-block;
	width: 50px;
	min-height:5px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  opacity:0.5;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
span.button:hover{
	background-color:gray;
}
