<div id="game-over" *ngIf="game.gameOver!='' && !game.isDraw" style="white-space: pre-line;">

	<h1>Game Over</h1>
	<p>
	<h2>{{game.gameOver}}</h2>
	<img src="./assets/fireworks.webp"  height="350" width="500"> 
</div>
<div id="game-over" *ngIf="game.gameOver!='' && game.isDraw" style="white-space: pre-line;">

	<h1>Game Over</h1>
	<p>
	<h2>{{game.gameOver}}</h2>
	<img src="./assets/theend.webp"  height="350" width="500"> 
</div>
<div *ngIf="!game.gameOver">
 <!--   Is Full Auto: <tb-toggle [(state)]="isFullAuto" ></tb-toggle><p> -->
   <div class="player-hand" *ngFor="let p of game.players;let pIdx=index">
	
	 <table class="player-hand">
		<!-- Header Row -->
		<tr >
			<th>Player</th>
			<th class="left" >Pile</th>
			<th class="left" colspan=5>Hand</th>
			<th class="left" colspan=4>Stack</th>
		</tr>
		<!--  Main player row -->
		<tr >
			<td >
				
				<span *ngIf="!isPlayerAutoplay(pIdx)">
					<span *ngIf="game.activePlayer==pIdx"  class="active">
						<span *ngIf="p.isPrimary" >*</span >{{p.name}}
					</span>	
					<span *ngIf="game.activePlayer!=pIdx"  class="inactive">
						<span *ngIf="p.isPrimary" >*</span >{{p.name}}
					</span>	
				</span>
				<span *ngIf="isPlayerAutoplay(pIdx)">
					<span *ngIf="game.activePlayer==pIdx"  
						[ngClass]="{'semiAuto':!isFullAuto,
									'fullAuto':isFullAuto
								   }"
					    (click)="nextMove()" >
						<span *ngIf="p.isPrimary" >*</span >{{p.name}}
					</span>
					<span *ngIf="game.activePlayer!=pIdx">
						<span *ngIf="p.isPrimary" >*</span >{{p.name}}
					</span>
				</span>	
			</td>							  
								  
			<td *ngFor="let c of p.cards;let pos=index" 
				[ngClass]="{'from':(fromPosition==pos && game.activePlayer==pIdx) &&
								   ((pos>=PlayerPositions.PILE && PlayerPositions.HAND_5>=pos) || 
								    pos>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=pos && p.cards[pos].length==2),
							'to':toPosition==pos && 
							     fromPosition>=0 && 
							     game.activePlayer==pIdx &&
							     (pos >=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=pos && c.length<=2),
							 'left':pos==PlayerPositions.PILE || pos==PlayerPositions.HAND_1 || pos==PlayerPositions.STACK_1}" >
				<!-- 
					If it is the Primary Player or the Active Player
					then show all cards
				 -->				
			    <!-- <span *ngIf="p.isPrimary || (pIdx==game.activePlayer)"> -->		
			    <span *ngIf="(pIdx==game.activePlayer)">
			    	<!-- If there is a card showing -->			    
					<span *ngIf="p.viewCard(pos)>Cards.NO_CARD">
						<!-- No card has been selected-->
						<span *ngIf="fromPosition==PlayerPositions.NO_POS" 
							(click)="toggleMoveFrom(pIdx,pos)">
			    			<span *ngIf="pos==PlayerPositions.PILE" class="tooltip">
			    			    <card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
			    				<span class="tooltiptext">{{p.cards[PlayerPositions.PILE].length-1}}</span>
			    			</span>
			    			<span *ngIf="pos>PlayerPositions.PILE && PlayerPositions.STACK_1>pos">
			    				<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
			    			</span>
							<!-- This is from the Player Stack 
								 This is the last card-->
							<span *ngIf="(pos>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=pos) &&
										 p.cards[pos].length==2" 
								(click)="toggleMoveFrom(pIdx,pos)">
				    			<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
							</span>
							<!-- This is from the Player Stack 
								 The stack is empty-->
							<span *ngIf="(pos>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=pos) &&
										 2>p.cards[pos].length">
				    			<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
							</span>
							<!-- This is from the Player Stack 
								 This is the not last card-->
							<span *ngIf="(pos>=PlayerPositions.STACK_1 && pos<=PlayerPositions.STACK_4) &&
										 p.cards[pos].length>2">
				    			<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
							</span>
						</span> <!-- No card Selected -->
						
						<!-- There is a Selected card -->
						<span *ngIf="fromPosition>=PlayerPositions.NO_POS">
							<!-- This is the selected card -->
							<span *ngIf="pos==fromPosition"  (click)="toggleMoveFrom(pIdx,pos)">
			    				<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
			    			</span>
			    			<!-- this is not the selected card -->
			    			<span *ngIf="pos!=fromPosition">
			    				<!-- If the selected card is from the Pile -->
			    				<span *ngIf="fromPosition==PlayerPositions.PILE ">			
					    			<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
								</span>
								<!-- the selected card is from the hand -->
								<span *ngIf="(fromPosition>=PlayerPositions.HAND_1 && fromPosition<=PlayerPositions.HAND_5)">
									<!-- the position is from the stack -->
									<span *ngIf="(pos>=PlayerPositions.STACK_1 && pos<=PlayerPositions.STACK_4)">
										<!-- This is the only card on the stack and stack is full-->
										<span *ngIf="p.cards[pos].length==2 && p.isStackFull()">
							    			<span (mouseover)="toggleTarget(pos)" 
												  (mouseout)="toggleTarget(-1)" 
									              (click)="moveTo(pos)">
									              <card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
									        </span>
										</span>
										<!-- This is the only card on the stack and stack is NOT full-->
										<span *ngIf="p.cards[pos].length==2 && !p.isStackFull()">
									         <card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
										</span>
										<!-- 
											There is more than one card on the stack 
											or this is the PILE
										-->
										<span *ngIf="p.cards[pos].length>2">
							    			<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
										</span>										
									</span>
									<!-- the position is from the hand -->
									<span *ngIf="(pos>=PlayerPositions.HAND_1 && pos<=PlayerPositions.HAND_5) ||
												 pos==PlayerPositions.PILE">
										<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
									</span>
								</span>
								<!-- the selected card is from the stack -->								
								<span *ngIf="(fromPosition>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=fromPosition)">
										<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
								</span>
			    			</span>
						</span>
					</span> <!--  END Card showing -->
					
					<!-- No card showing -->
					<span *ngIf="p.viewCard(pos)==Cards.NO_CARD">
						<!-- If it is not from the Stack just show a blank card-->
						<span *ngIf="!(pos>=PlayerPositions.STACK_1 && pos<=PlayerPositions.STACK_4)">
							<card pos="{{pos}}" cardNo="{{Cards.NO_CARD}}"></card>
						</span>			
						<!-- If this position it is from the Stack-->			
						<span *ngIf="(pos>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=pos)">
							<!-- if there is a selected card -->
							<span *ngIf="fromPosition>PlayerPositions.NO_POS">
								<!-- if the selected card is from the stack or the Pile-->
								<span *ngIf="(fromPosition>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=fromPosition) ||
								              fromPosition==PlayerPositions.PILE">
									<card pos="{{pos}}" cardNo="{{Cards.NO_CARD}}"></card>
								</span>
								<!-- if the selected card is from the HAND -->
								<span *ngIf="fromPosition>=PlayerPositions.HAND_1 && PlayerPositions.HAND_5>=fromPosition">	
									<!-- All stacks have at least one card -->          
					    			<span (mouseover)="toggleTarget(pos)" 
									      (mouseout)="toggleTarget(-1)" 
								          (click)="moveTo(pos)">
							       		<card pos="{{pos}}" cardNo="{{Cards.NO_CARD}}"></card>
							        </span>
								</span>
							</span>
							<span *ngIf="fromPosition==PlayerPositions.NO_POS">
								<card pos="{{pos}}" cardNo="{{Cards.NO_CARD}}"></card>
							</span>
						</span>
					</span> <!-- END No Card Showing -->
				</span> <!-- END Primary / Active -->
			   <!-- <span *ngIf="!(pIdx==game.activePlayer) && !p.isPrimary"> --> 
			    <span *ngIf="!(pIdx==game.activePlayer)">
			    	<span *ngIf="(pos>=PlayerPositions.HAND_1 && pos<=PlayerPositions.HAND_5)">
				    	<span *ngIf="!(p.viewCard(pos)==Cards.NO_CARD)">
							<card pos="{{pos}}" cardNo="back"></card>
						</span>
					    <span *ngIf="(p.viewCard(pos)==Cards.NO_CARD)">
							<card pos="{{pos}}" cardNo="{{Cards.NO_CARD}}"></card>
					    </span>
				    </span>
				    <span *ngIf="(pos==PlayerPositions.PILE)" class="tooltip">
			    			    <card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
			    				<span class="tooltiptext">{{p.cards[PlayerPositions.PILE].length-1}}</span>
			    			</span>
				    <span *ngIf="(pos>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=pos)">
				    	<card pos="{{pos}}" cardNo="{{p.viewCard(pos)}}"></card>
				   	</span>
				</span>
			    
			</td>
		</tr>
		<!-- show the rest of the stack -->
		<tr  *ngFor="let r of p.maxStack();let stackRow=index" >
		 	<td colspan=7>&nbsp;</td>
			<td *ngFor="let s of playerStacks; let stackCol=index" 
				[ngClass]="{'from':fromPosition==PlayerPositions.STACK_1+stackCol &&
								   game.activePlayer==pIdx &&
								   p.cards[fromPosition].length-3==stackRow,
							'to':toPosition==PlayerPositions.STACK_1+stackCol &&
							       fromPosition>=0 && game.activePlayer==pIdx &&
								   p.cards[toPosition].length-3==stackRow && 
								   !isPendingDiscard,
							 'left':stackCol==0}">
			    <span *ngIf="pIdx==game.activePlayer"> <!-- This is the active Player -->
			    	<!-- this stack has a card in this row -->		    	
					<span *ngIf="p.cards[PlayerPositions.STACK_1+stackCol].length>=3+stackRow"> 
						<!-- this is the last card in the stack -->
						<span *ngIf="stackRow==(p.cards[PlayerPositions.STACK_1+stackCol].length-3)"> 
							<!-- No card has been selected -->
							<span *ngIf="fromPosition==-1" 							
								(click)="toggleMoveFrom(pIdx,PlayerPositions.STACK_1+stackCol)">
				    			<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
							</span>
							<!-- 
								 A card is selected
								 This is the Selected stack
							-->
							<span *ngIf="fromPosition>-1 && 
										 fromPosition==PlayerPositions.STACK_1+stackCol"										   
								(click)="toggleMoveFrom(pIdx,PlayerPositions.STACK_1+stackCol)">
				    			<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
							</span>
							<!-- 
								A card is selected 
								It is NOT this one.
								The selected Card is from the players Pile
							 -->
							<span *ngIf="fromPosition>-1 &&
										 fromPosition!=PlayerPositions.STACK_1+stackCol &&
										 (
										  fromPosition==PlayerPositions.PILE ||
										  (fromPosition>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=fromPosition)
										 )">
				    			<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
							</span>	
							<!-- 
								A card is selected 
								It is NOT this one.
								The selected Card is from the players Hand
								There is no pending discard
							 -->						 
							<span *ngIf="fromPosition>-1 &&
										 !(fromPosition==PlayerPositions.STACK_1+stackCol) &&
										 (fromPosition>=PlayerPositions.HAND_1 && PlayerPositions.HAND_5>=fromPosition) &&
										 !isPendingDiscard">			 
				    			<span (mouseover)="toggleTarget(PlayerPositions.STACK_1+stackCol)" 
								      (mouseout)="toggleTarget(-1)" 
							          (click)="moveTo(PlayerPositions.STACK_1+stackCol)">
						       			<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
						       	</span>
							</span>		
							<!-- 
								A card is selected 
								It is NOT this one.
								The selected Card is from the players Hand
								There is a pending discard
							 -->						 
							<span *ngIf="fromPosition>-1 &&
										 !(fromPosition==PlayerPositions.STACK_1+stackCol) &&
										 (fromPosition>=PlayerPositions.HAND_1 && PlayerPositions.HAND_5>=fromPosition) &&
										 isPendingDiscard">			 
				    			<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
							</span>	
						</span> <!-- END this is the last card in the stack -->
						<!-- ELSE not the last card -->
					    <span *ngIf="!(stackRow==(p.cards[PlayerPositions.STACK_1+stackCol].length-3))">
					    	<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
					    </span>   	
					</span><!-- END this stack has a card in this row -->
					<!-- ELSE No card in this row -->
					<span *ngIf="!(p.cards[PlayerPositions.STACK_1+stackCol].length>2+stackRow)">&nbsp;</span> 
				</span>
				<span *ngIf="!(pIdx==game.activePlayer)">
				    <span *ngIf="toFaceNumber(p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow])>Cards.NO_CARD">
				    	<card cardNo="{{p.cards[PlayerPositions.STACK_1+stackCol][2+stackRow]}}"></card>
				   	</span>
			   	</span>
			</td>
		</tr>
	 </table>
	 <div class="space">&nbsp;</div>
  </div>
	<p>
	<p>
	<p>
  <div id="game-row">
  		<span class="tooltip">
			<card *ngIf="dealer.deckCount()>0" cardNo="back"></card>
			<card *ngIf="dealer.deckCount()==0" cardNo="Cards.NO_CARD"></card>			
   			<span class="tooltiptext">{{dealer.deckCount()}}</span>
		</span>
		<div class="space"></div>
		<span *ngIf="game.recyclePile.length>0" class="tooltip">
			<card cardNo="back"></card>			
   			<span class="tooltiptext">{{game.recyclePile.length}}</span>
		</span>
		<card *ngIf="game.recyclePile.length==0" cardNo="{{Cards.NO_CARD}}"></card><p>
		<div class="space"></div>	
		<table id="centre-stacks">
			<tr>
				<td *ngFor="let s of game.centreStacks; let sIdx=index" 
					[ngClass]="{'to':toPosition==GamePositions.BASE+sIdx && fromPosition>-1}">
					<!-- 
						There is a card Selected 
						the selected card can be moved here
					-->
					<span *ngIf="fromPosition>-1 && canMoveHere(GamePositions.BASE+sIdx)"
						(mouseover)="toggleTarget(GamePositions.BASE+sIdx)" 
						(mouseout)="toggleTarget(-1)" 
						(click)="moveTo(GamePositions.BASE+sIdx)">
						<!-- <span *ngIf="viewTopOfStack(sIdx)!=Cards.NO_CARD">
							<card cardNo="{{viewTopOfStack(sIdx)}}"></card>
						</span>
						<span *ngIf="viewTopOfStack(sIdx)==Cards.NO_CARD">&nbsp;</span>
						 -->
						 <card cardNo="{{viewTopOfStack(sIdx)}}"></card>
					</span>	
					<!-- 
						There is a card Selected 
						the selected card cannot be moved here
					-->
					<span *ngIf="fromPosition>-1 && !canMoveHere(GamePositions.BASE+sIdx)">
						<!-- <span *ngIf="viewTopOfStack(sIdx)!=Cards.NO_CARD">
							
						</span>
						<span *ngIf="viewTopOfStack(sIdx)==Cards.NO_CARD">&nbsp;</span>
						 -->
						 <card cardNo="{{viewTopOfStack(sIdx)}}"></card>
					</span>		
					<!-- 
						There is no card Selected
					-->
					<span *ngIf="fromPosition<0">
						<!-- <span *ngIf="viewTopOfStack(sIdx)!=Cards.NO_CARD">
							
						</span>
						<span *ngIf="viewTopOfStack(sIdx)==Cards.NO_CARD">&nbsp;</span>
						 -->
						 <card cardNo="{{viewTopOfStack(sIdx)}}"></card>
					</span>		
				</td>
			</tr>
		</table>
  </div>
  <!-- <span class="button" (click)="saveGame()">Save Game</span><span>&nbsp;</span> -->
  <span class="button" (click)="undo()">Undo</span><p>
</div>