
<p>
<div class="list">
	<span *ngIf="!gameService.puuid1 || !gameService.puuid2">New</span> <a
		*ngIf="gameService.puuid1 && gameService.puuid2"
		routerLink="/play-area/new">New</a>
	<p>
		Game Name <input
			name="gamename"
			type="text"
			[(ngModel)]="gameService.name" /><br> Player 1 <select
			name="player1"
			[(ngModel)]="gameService.puuid1">
			<option
				*ngFor="let player of playerService.getPlayers()"
				[value]="player.uuid">{{player.name}}</option>
		</select><br> Player 2 <select
			name="player2"
			[(ngModel)]="gameService.puuid2">
			<option
				*ngFor="let player of playerService.getPlayers()"
				[value]="player.uuid">{{player.name}}</option>
		</select>
	<p>
		<!--   Saved Games
  <ul>
  	<li class="list-item" *ngFor="let g of games" >
  		<span *ngIf="!g.isEditable">
	  		<span (click)="setGame(g.uuid)">{{g.name}}</span>
	  		<a routerLink="/play-area/{{g.uuid}}" (click)="g.inPlay=true">[play]</a>
	  		<span (click)="g.isEditable=true">[edit]</span>
  		</span>
  		<span *ngIf="g.isEditable">
  			<input name="g.uuid" [(ngModel)]="g.name" (focusout)="g.isEditable=false">
  		</span>
  	</li>
  </ul>
   -->
</div>

<div id="detail">
	<h1>Spite & Malice</h1>
	<p>The object of the game is to be the first Player discard of all the
		cards in your pile by playing them onto the centre stacks.</p>
	<p>The first card played on a centre stack must be an ace, then 2, 3,
		and so on, in sequence up to King, each card played being one higher
		than the card it covers. There cannot be more than four Centre Stacks
		at one time.</p>
	<p>The Player Stacks can contain cards in any order, and when
		playing to these stacks you may put your card on whichever stack you
		choose. The only limitation is that you cannot have more than four
		stacks.</p>
	<p>The Player who has the lowest card showing on their pile (lowest card in-hand is used as
		 a tie breaker) plays first, thereafter the Players take alternate turns.</p>
	<p>To play; the active Player (whose name is underlined and in red) must select
		the card they wish to move (it becomes highlighted blue when clicked), then select
		the target location (possible locations will highlight yellow when
		hovered).</p>
	<p>When all four Player Stacks have at least 1 card, and a card is moved from the Player's 
		hand to one of the Player Stacks, this is considered a Discard.</p>
	<p>You must fill all four positions in your Player Stacks before you can discard an extra card to end your turn.</p>
	<p>A turn may consist of multiple moves, and is finished when the Player discards.</p>
	<p>During a turn, if all of the cards in the Player's Hand are used before they Discard, 
		the dealer will refill their hand, and they may continue to make moves until they have to discard.</p>
	<p>The dealer will ensure that a Player's hand is full at the beginning of each turn.</p>
	
	<p>To start a game:
	<ol>
		<li>Enter a Name for your game (optional - defaults to 'new')</li>
		<li>Select a Player from the list for Player 1</li>
		<li>Select a Player from the list for Player 2</li> 
		<li>Click 'New' (only becomes clickable when name and Player 1 & 2 are set)</li>
	</ol>
	<p>Once a game is complete (or before, if you want to quit), click on the 'X' beside 
		the name of the game in the tab bar to close the game. Click on the 'Dashboard' tab to return to 
		the home page where you can start another game.</p>
	<!-- 
Game: {{game.name}}<br>
  
  Game Stacks 
  <table>
  	<tr>
	  	<td  *ngFor="let s of game.centreStacks; let sIdx=index">
	  		{{toFaceNumber(game.centreStacks[sIdx][game.centreStacks[sIdx].length-1])}}
	  	</td>
	</tr>
  </table>
  
  <div *ngFor="let p of game.players">
  	{{p.name}}<br>
  	<table>
  		<tr >
  			<td *ngFor="let s of p.cards;let sIdx=index">
  				<span *ngIf="sIdx==PlayerPositions.PILE">{{toFaceNumber(s[s.length-1])}}</span>
  				<span *ngIf="sIdx>=PlayerPositions.HAND_1 && PlayerPositions.HAND_5>=sIdx">{{toFaceNumber(s)}}</span>
  				<span *ngIf="sIdx>=PlayerPositions.STACK_1 && PlayerPositions.STACK_4>=sIdx">
  					{{toFaceNumber(s[1])}}
  				</span>
  			</td>
  		</tr>
  		<tr *ngFor="let r of p.maxStack();let rowIdx=index"	>
  			<td colspan="6">
  			<td *ngFor="let s of playerStacks;let colIdx=index">
  				<span *ngIf="(p.cards[PlayerPositions.STACK_1+colIdx].length>=3+rowIdx)">
  					{{toFaceNumber(p.cards[PlayerPositions.STACK_1+colIdx][2+rowIdx])}}
  				</span>
  				<span *ngIf="!(p.cards[PlayerPositions.STACK_1+colIdx].length>=3+rowIdx)">
  					&nbsp;
  				</span>
  			</td>
  		</tr>
  	</table>
  	<p>
  	<p>
  </div>
   -->
</div>